body{
    .modal-backdrop{
        display: none;
    }
    .container-fluid {
        padding: 0;
    }
    .viewContent{
        margin: auto;
        width: 90%;
    }
    #root{
        max-width: 1560px;
        margin: auto;
    }
}