.bg-background {
    .container {
        .nhanXet {
            overflow: hidden;
            .Content {
                width: 100%;
                border: 1px solid #d3d6db;
                margin-top: 10px;
            }
            .button {
                float: right;
                margin-top: 10px;
            }
        }
        .bg-rw_dg {
            .review {
                width: 100%;
            }
        }
    }
}
